.card-component{
    background-color: gray;
    height: fit-content;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;

    transition: all 200ms ease;
    cursor: pointer;
}
.card-component:hover{
    scale: 1.025;
}