@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@300&family=Pacifico&display=swap');

.regular-button{
    font-size: 1.125em;
    cursor: pointer;
    padding: 0.9em 1.5em;
    border-radius: 12.5px;
    width: 100%;
    
    color: rgb(224, 224, 224);
    position: relative;
    border: none;
    background-color: rgb(24, 24, 24);
    border: 1px solid rgba(255, 255, 255, 0.5);
    transition: all 200ms ease;
}
.regular-button:hover{
    color: white;
    background-color: black;
    border: 1px solid white;
}

.myComponentsHeader{
    font-size: 2em;
    padding-bottom: 1em;
    font-family: 'Pacifico', cursive;
}